#zone-impression {
  display: none;
}

@media print {
  #zone-impression {
    display: block;
  }

  body * {
    visibility: hidden;
  }

  #zone-impression,
  #zone-impression * {
    visibility: visible;
  }

  #zone-impression {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
#affichage-minuteur,
#affichage-montant {
  display: none;
}
